---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I'm Abhay Paswan, a data engineer from India.
      <br />
       My journey in the world of data has been guided by tools such as:
      <ul class="list-disc list-inside">
        <li>Pyspark</li>
        <li>SQL</li>
        <li>MongoDB</li>
        <li>Databricks</li>
        <li>Python</li>
        <li>Airflow</li>
        <li>Azure</li>
        <li>GCP</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Outside of work, I enjoy building something with Flutter, Dart, NextJS,
      Firebase, and NodeJS for personal projects.
    </p>
    <p class="text-sm font-light">
      When I'm not coding, I like binge watching anime, or writing blogs for my
      website Algostreak.
    </p>
  </div>
</Card>
