---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="My Projects">
    <div class="flex justify-between w-full items-start mb-2">
        <div class="flex flex-col">
            <br>
            <ul class="list-disc list-inside">
                <li>
                    <a href="https://data.algostreak.com" target="_blank">
                        Algostreak
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.algostreak.bpsc_quiz" target="_blank">
                        Quiz20
                    </a>
                </li>
            </ul>
        </div>
    </div>
</Card>
